.game-menu__container {
  flex: 1;
  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;

  margin-top: 8px;

  align-items: center;
  align-self: center;

  position: relative;

  padding-left: 2px;
}

.flex-column2  {
  margin-right:      16px;
  margin-bottom:      8px;
}