.footer__container {
  font-size: 18px;
  text-transform: none;
  color:      #ffffff;
  text-shadow: 0px 0px 5px indigo;
  margin: 35px 0 25px;

  align-self: center;
  text-align: center;

  cursor: default;
  user-select: none;

  .footer__link {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid;
  }
}