.game-start__title {
  font-size: 22px;
  text-align: center;
  color: orange;
  padding: 50px 0 0;
  margin-left: 20px;
}

.game-start__text {
  flex: 1;

  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: orange;
  padding: 20px 32px 0;
  margin: 45px 10px 0px 0px;
}

.game-start__button {
  padding: 4px 0 16px;
  color: orange;
  align-items: center;
}